<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a1.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,320},{149,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,60}}</string>
			<key>sourceSize</key>
			<string>{149,60}</string>
		</dict>
		<key>a10.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,259},{166,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,60}}</string>
			<key>sourceSize</key>
			<string>{166,60}</string>
		</dict>
		<key>a11.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,194},{137,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,60}}</string>
			<key>sourceSize</key>
			<string>{137,60}</string>
		</dict>
		<key>a2.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,381},{122,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,60}}</string>
			<key>sourceSize</key>
			<string>{122,60}</string>
		</dict>
		<key>a3.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,320},{122,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,60}}</string>
			<key>sourceSize</key>
			<string>{122,60}</string>
		</dict>
		<key>a4.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,762},{152,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,60}}</string>
			<key>sourceSize</key>
			<string>{152,60}</string>
		</dict>
		<key>a5.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,507},{152,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,60}}</string>
			<key>sourceSize</key>
			<string>{152,60}</string>
		</dict>
		<key>a6.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,442},{212,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,60}}</string>
			<key>sourceSize</key>
			<string>{212,60}</string>
		</dict>
		<key>a7.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,381},{152,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,60}}</string>
			<key>sourceSize</key>
			<string>{152,60}</string>
		</dict>
		<key>a8.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,694},{151,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,61}}</string>
			<key>sourceSize</key>
			<string>{151,61}</string>
		</dict>
		<key>a9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,694},{181,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,61}}</string>
			<key>sourceSize</key>
			<string>{181,61}</string>
		</dict>
		<key>achievement.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,694},{67,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,37}}</string>
			<key>sourceSize</key>
			<string>{67,37}</string>
		</dict>
		<key>achievementBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,194},{341,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,89}}</string>
			<key>sourceSize</key>
			<string>{341,89}</string>
		</dict>
		<key>achievement_done.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{480,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,103}}</string>
			<key>sourceSize</key>
			<string>{480,103}</string>
		</dict>
		<key>achievement_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,104},{480,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,89}}</string>
			<key>sourceSize</key>
			<string>{480,89}</string>
		</dict>
		<key>gold_number.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,320},{186,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,42}}</string>
			<key>sourceSize</key>
			<string>{186,42}</string>
		</dict>
		<key>killed_number.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,507},{186,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,42}}</string>
			<key>sourceSize</key>
			<string>{186,42}</string>
		</dict>
		<key>process_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,25},{10,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,233}}</string>
			<key>sourceSize</key>
			<string>{10,233}</string>
		</dict>
		<key>process_dot.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,0},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>achievement.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>achievement.png</string>
	</dict>
</dict>
</plist>
