<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>10_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,152},{96,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>11_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,38},{126,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{126,37}}</string>
			<key>sourceSize</key>
			<string>{130,40}</string>
		</dict>
		<key>12_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,76},{126,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{126,37}}</string>
			<key>sourceSize</key>
			<string>{130,40}</string>
		</dict>
		<key>1_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,190},{96,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>2_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,228},{96,37}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{96,37}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>3_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,266},{96,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{96,37}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>4_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,304},{96,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>5_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,342},{96,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>6_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,380},{96,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>7_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,418},{96,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>8_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,456},{96,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>9_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,114},{96,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>forever_chapter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{127,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{127,37}}</string>
			<key>sourceSize</key>
			<string>{132,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chapter.png</string>
		<key>size</key>
		<string>{128,512}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>chapter.png</string>
	</dict>
</dict>
</plist>
