<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hero2_Lleft1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,567},{105,86}}</string>
			<key>offset</key>
			<string>{-41,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,86}}</string>
			<key>sourceSize</key>
			<string>{187,86}</string>
		</dict>
		<key>hero2_Lleft2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,747},{99,85}}</string>
			<key>offset</key>
			<string>{-38,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{99,85}}</string>
			<key>sourceSize</key>
			<string>{187,86}</string>
		</dict>
		<key>hero2_Lleft3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,833},{95,85}}</string>
			<key>offset</key>
			<string>{-36,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,1},{95,85}}</string>
			<key>sourceSize</key>
			<string>{187,86}</string>
		</dict>
		<key>hero2_Lleftleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,956},{61,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,36}}</string>
			<key>sourceSize</key>
			<string>{61,36}</string>
		</dict>
		<key>hero2_Rright1.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,0},{69,117}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,0},{69,117}}</string>
			<key>sourceSize</key>
			<string>{88,117}</string>
		</dict>
		<key>hero2_Rright2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,103},{62,112}}</string>
			<key>offset</key>
			<string>{13,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,5},{62,112}}</string>
			<key>sourceSize</key>
			<string>{88,117}</string>
		</dict>
		<key>hero2_Rright3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,413},{58,109}}</string>
			<key>offset</key>
			<string>{15,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,8},{58,109}}</string>
			<key>sourceSize</key>
			<string>{88,117}</string>
		</dict>
		<key>hero2_Rrightleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,919},{62,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,36}}</string>
			<key>sourceSize</key>
			<string>{62,36}</string>
		</dict>
		<key>hero2_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,833},{57,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,60}}</string>
			<key>sourceSize</key>
			<string>{57,60}</string>
		</dict>
		<key>hero2_left1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,654},{100,92}}</string>
			<key>offset</key>
			<string>{-37,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,92}}</string>
			<key>sourceSize</key>
			<string>{174,92}</string>
		</dict>
		<key>hero2_left2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,919},{93,88}}</string>
			<key>offset</key>
			<string>{-34,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,4},{93,88}}</string>
			<key>sourceSize</key>
			<string>{174,92}</string>
		</dict>
		<key>hero2_left3.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,919},{89,87}}</string>
			<key>offset</key>
			<string>{-32,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,5},{89,87}}</string>
			<key>sourceSize</key>
			<string>{174,92}</string>
		</dict>
		<key>hero2_leftleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,154},{48,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,35}}</string>
			<key>sourceSize</key>
			<string>{48,35}</string>
		</dict>
		<key>hero2_middle1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{119,102}}</string>
			<key>offset</key>
			<string>{-32,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,102}}</string>
			<key>sourceSize</key>
			<string>{182,102}</string>
		</dict>
		<key>hero2_middle2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,243},{110,96}}</string>
			<key>offset</key>
			<string>{-27,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,6},{110,96}}</string>
			<key>sourceSize</key>
			<string>{182,102}</string>
		</dict>
		<key>hero2_middle3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,472},{105,94}}</string>
			<key>offset</key>
			<string>{-25,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,8},{105,94}}</string>
			<key>sourceSize</key>
			<string>{182,102}</string>
		</dict>
		<key>hero2_middleleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,956},{56,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,41}}</string>
			<key>sourceSize</key>
			<string>{56,41}</string>
		</dict>
		<key>hero2_right1.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,70},{83,116}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,116}}</string>
			<key>sourceSize</key>
			<string>{90,116}</string>
		</dict>
		<key>hero2_right2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,166},{76,111}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,5},{76,111}}</string>
			<key>sourceSize</key>
			<string>{90,116}</string>
		</dict>
		<key>hero2_right3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,340},{72,110}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,6},{72,110}}</string>
			<key>sourceSize</key>
			<string>{90,116}</string>
		</dict>
		<key>hero2_rightleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,190},{47,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,35}}</string>
			<key>sourceSize</key>
			<string>{47,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hero2.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>hero2.png</string>
	</dict>
</dict>
</plist>
