<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hero3_Lleft1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,236},{138,116}}</string>
			<key>offset</key>
			<string>{-15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,116}}</string>
			<key>sourceSize</key>
			<string>{169,117}</string>
		</dict>
		<key>hero3_Lleft2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{141,117}}</string>
			<key>offset</key>
			<string>{-14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,117}}</string>
			<key>sourceSize</key>
			<string>{169,117}</string>
		</dict>
		<key>hero3_Lleft3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,118},{141,117}}</string>
			<key>offset</key>
			<string>{-14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,117}}</string>
			<key>sourceSize</key>
			<string>{169,117}</string>
		</dict>
		<key>hero3_Lleftleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,585},{63,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,45}}</string>
			<key>sourceSize</key>
			<string>{63,45}</string>
		</dict>
		<key>hero3_Rright1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,0},{113,119}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{113,119}}</string>
			<key>sourceSize</key>
			<string>{127,120}</string>
		</dict>
		<key>hero3_Rright2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,353},{117,120}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,120}}</string>
			<key>sourceSize</key>
			<string>{127,120}</string>
		</dict>
		<key>hero3_Rright3.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,467},{117,120}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,120}}</string>
			<key>sourceSize</key>
			<string>{127,120}</string>
		</dict>
		<key>hero3_Rrightleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,621},{62,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,45}}</string>
			<key>sourceSize</key>
			<string>{62,45}</string>
		</dict>
		<key>hero3_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,631},{57,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,60}}</string>
			<key>sourceSize</key>
			<string>{57,60}</string>
		</dict>
		<key>hero3_left1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,236},{138,116}}</string>
			<key>offset</key>
			<string>{-15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,116}}</string>
			<key>sourceSize</key>
			<string>{169,117}</string>
		</dict>
		<key>hero3_left2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{141,117}}</string>
			<key>offset</key>
			<string>{-14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,117}}</string>
			<key>sourceSize</key>
			<string>{169,117}</string>
		</dict>
		<key>hero3_left3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,118},{141,117}}</string>
			<key>offset</key>
			<string>{-14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,117}}</string>
			<key>sourceSize</key>
			<string>{169,117}</string>
		</dict>
		<key>hero3_leftleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,585},{63,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,45}}</string>
			<key>sourceSize</key>
			<string>{63,45}</string>
		</dict>
		<key>hero3_middle1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,347},{106,119}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,119}}</string>
			<key>sourceSize</key>
			<string>{112,119}</string>
		</dict>
		<key>hero3_middle2.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,237},{109,114}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,114}}</string>
			<key>sourceSize</key>
			<string>{112,119}</string>
		</dict>
		<key>hero3_middle3.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,120},{112,116}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,116}}</string>
			<key>sourceSize</key>
			<string>{112,119}</string>
		</dict>
		<key>hero3_middleleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,585},{49,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,35}}</string>
			<key>sourceSize</key>
			<string>{49,35}</string>
		</dict>
		<key>hero3_right1.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,0},{113,119}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{113,119}}</string>
			<key>sourceSize</key>
			<string>{127,120}</string>
		</dict>
		<key>hero3_right2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,353},{117,120}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,120}}</string>
			<key>sourceSize</key>
			<string>{127,120}</string>
		</dict>
		<key>hero3_right3.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,467},{117,120}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,120}}</string>
			<key>sourceSize</key>
			<string>{127,120}</string>
		</dict>
		<key>hero3_rightleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,621},{62,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,45}}</string>
			<key>sourceSize</key>
			<string>{62,45}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hero3.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>hero3.png</string>
	</dict>
</dict>
</plist>
