<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hero1_Lleft1.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,798},{84,87}}</string>
			<key>offset</key>
			<string>{-30,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,87}}</string>
			<key>sourceSize</key>
			<string>{145,89}</string>
		</dict>
		<key>hero1_Lleft2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,886},{77,89}}</string>
			<key>offset</key>
			<string>{-27,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{77,89}}</string>
			<key>sourceSize</key>
			<string>{145,89}</string>
		</dict>
		<key>hero1_Lleft3.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,886},{76,87}}</string>
			<key>offset</key>
			<string>{-26,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{76,87}}</string>
			<key>sourceSize</key>
			<string>{145,89}</string>
		</dict>
		<key>hero1_Lleftleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,963},{60,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,36}}</string>
			<key>sourceSize</key>
			<string>{60,36}</string>
		</dict>
		<key>hero1_Rright1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,178},{98,87}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,87}}</string>
			<key>sourceSize</key>
			<string>{106,88}</string>
		</dict>
		<key>hero1_Rright2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,709},{90,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{90,88}}</string>
			<key>sourceSize</key>
			<string>{106,88}</string>
		</dict>
		<key>hero1_Rright3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,798},{90,87}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{90,87}}</string>
			<key>sourceSize</key>
			<string>{106,88}</string>
		</dict>
		<key>hero1_Rrightleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,963},{60,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,36}}</string>
			<key>sourceSize</key>
			<string>{60,36}</string>
		</dict>
		<key>hero1_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,964},{57,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,60}}</string>
			<key>sourceSize</key>
			<string>{57,60}</string>
		</dict>
		<key>hero1_left1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,357},{91,91}}</string>
			<key>offset</key>
			<string>{-29,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{149,91}</string>
		</dict>
		<key>hero1_left2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,449},{85,91}}</string>
			<key>offset</key>
			<string>{-26,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{85,91}}</string>
			<key>sourceSize</key>
			<string>{149,91}</string>
		</dict>
		<key>hero1_left3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,535},{82,91}}</string>
			<key>offset</key>
			<string>{-24,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{82,91}}</string>
			<key>sourceSize</key>
			<string>{149,91}</string>
		</dict>
		<key>hero1_leftleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,964},{53,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,38}}</string>
			<key>sourceSize</key>
			<string>{53,38}</string>
		</dict>
		<key>hero1_middle1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{116,88}}</string>
			<key>offset</key>
			<string>{-23,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,88}}</string>
			<key>sourceSize</key>
			<string>{163,88}</string>
		</dict>
		<key>hero1_middle2.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,0},{110,88}}</string>
			<key>offset</key>
			<string>{-20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{110,88}}</string>
			<key>sourceSize</key>
			<string>{163,88}</string>
		</dict>
		<key>hero1_middle3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,89},{100,88}}</string>
			<key>offset</key>
			<string>{-15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{100,88}}</string>
			<key>sourceSize</key>
			<string>{163,88}</string>
		</dict>
		<key>hero1_middleleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,835},{43,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,35}}</string>
			<key>sourceSize</key>
			<string>{43,35}</string>
		</dict>
		<key>hero1_right1.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,89},{105,90}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,90}}</string>
			<key>sourceSize</key>
			<string>{124,90}</string>
		</dict>
		<key>hero1_right2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,266},{95,90}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{95,90}}</string>
			<key>sourceSize</key>
			<string>{124,90}</string>
		</dict>
		<key>hero1_right3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,618},{90,90}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{124,90}</string>
		</dict>
		<key>hero1_rightleg.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,798},{43,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,36}}</string>
			<key>sourceSize</key>
			<string>{43,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hero1.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>hero1.png</string>
	</dict>
</dict>
</plist>
