<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blackwidow_head.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,166},{229,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,122}}</string>
			<key>sourceSize</key>
			<string>{229,122}</string>
		</dict>
		<key>ironmen_head.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,396},{229,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,122}}</string>
			<key>sourceSize</key>
			<string>{229,122}</string>
		</dict>
		<key>shop_01yuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,0},{13,22}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{13,22}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>shop_29yuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,86},{39,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,22}}</string>
			<key>sourceSize</key>
			<string>{39,22}</string>
		</dict>
		<key>shop_2yuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,126},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>shop_4yuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,43},{19,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,23}}</string>
			<key>sourceSize</key>
			<string>{19,23}</string>
		</dict>
		<key>shop_6yuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,146},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>shop_9yuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,166},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>shop_addGold.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,92},{121,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,33}}</string>
			<key>sourceSize</key>
			<string>{121,33}</string>
		</dict>
		<key>shop_big_gife.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,219},{153,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,34}}</string>
			<key>sourceSize</key>
			<string>{153,34}</string>
		</dict>
		<key>shop_buy.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,386},{163,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,55}}</string>
			<key>sourceSize</key>
			<string>{163,55}</string>
		</dict>
		<key>shop_cancel.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,92},{102,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,48}}</string>
			<key>sourceSize</key>
			<string>{102,48}</string>
		</dict>
		<key>shop_dialog.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{513,319}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{513,319}}</string>
			<key>sourceSize</key>
			<string>{513,319}</string>
		</dict>
		<key>shop_give_gift.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,0},{130,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,23}}</string>
			<key>sourceSize</key>
			<string>{130,23}</string>
		</dict>
		<key>shop_give_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,161},{58,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>shop_give_shiled.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,92},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>shop_give_uniquekill.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,948},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>shop_gold_head.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,550},{198,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,213}}</string>
			<key>sourceSize</key>
			<string>{198,213}</string>
		</dict>
		<key>shop_gold_show.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,161},{58,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>shop_levelMax.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,58},{123,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,33}}</string>
			<key>sourceSize</key>
			<string>{123,33}</string>
		</dict>
		<key>shop_level_max.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,749},{198,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,213}}</string>
			<key>sourceSize</key>
			<string>{198,213}</string>
		</dict>
		<key>shop_lock_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,162},{170,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,111}}</string>
			<key>sourceSize</key>
			<string>{170,111}</string>
		</dict>
		<key>shop_lock_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,274},{170,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,111}}</string>
			<key>sourceSize</key>
			<string>{170,111}</string>
		</dict>
		<key>shop_lock_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,386},{170,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,111}}</string>
			<key>sourceSize</key>
			<string>{170,111}</string>
		</dict>
		<key>shop_power.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,126},{121,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,33}}</string>
			<key>sourceSize</key>
			<string>{121,33}</string>
		</dict>
		<key>shop_protected.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,92},{121,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,33}}</string>
			<key>sourceSize</key>
			<string>{121,33}</string>
		</dict>
		<key>shop_rebirth_head.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,749},{198,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,213}}</string>
			<key>sourceSize</key>
			<string>{198,213}</string>
		</dict>
		<key>shop_rebirth_now.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,24},{124,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,33}}</string>
			<key>sourceSize</key>
			<string>{124,33}</string>
		</dict>
		<key>shop_shield_head.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,550},{198,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,213}}</string>
			<key>sourceSize</key>
			<string>{198,213}</string>
		</dict>
		<key>shop_shield_show.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,92},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>shop_thinksgiving.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,126},{153,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,34}}</string>
			<key>sourceSize</key>
			<string>{153,34}</string>
		</dict>
		<key>shop_uniquekill_head.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,550},{198,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,213}}</string>
			<key>sourceSize</key>
			<string>{198,213}</string>
		</dict>
		<key>shop_uniquekill_show.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,948},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>shop_unlocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,92},{63,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,33}}</string>
			<key>sourceSize</key>
			<string>{63,33}</string>
		</dict>
		<key>shopping_fail.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,0},{362,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,42}}</string>
			<key>sourceSize</key>
			<string>{362,42}</string>
		</dict>
		<key>shopping_success.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,43},{362,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,42}}</string>
			<key>sourceSize</key>
			<string>{362,42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shopping.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>shopping.png</string>
	</dict>
</dict>
</plist>
