<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>10.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,601},{24,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,30}}</string>
			<key>sourceSize</key>
			<string>{24,30}</string>
		</dict>
		<key>11.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,384},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>12.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,539},{14,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,25}}</string>
			<key>sourceSize</key>
			<string>{14,25}</string>
		</dict>
		<key>13.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,508},{19,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,25}}</string>
			<key>sourceSize</key>
			<string>{19,25}</string>
		</dict>
		<key>14.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,935},{29,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,30}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>15.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,539},{14,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,25}}</string>
			<key>sourceSize</key>
			<string>{14,25}</string>
		</dict>
		<key>16.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,415},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>17.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,965},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>18.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,0},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>19.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,0},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>20.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,965},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>21.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,415},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>22.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,694},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>23.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,32},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>24.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,905},{29,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,30}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>25.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,996},{13,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,16}}</string>
			<key>sourceSize</key>
			<string>{13,16}</string>
		</dict>
		<key>26.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,663},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>27.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,64},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>28.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,875},{29,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,30}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>29.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,725},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>3.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,384},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>30.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,845},{30,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,29}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>31.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,446},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>32.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,96},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>33.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,570},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>34.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,539},{28,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,13}}</string>
			<key>sourceSize</key>
			<string>{28,13}</string>
		</dict>
		<key>35.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,539},{14,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,25}}</string>
			<key>sourceSize</key>
			<string>{14,25}</string>
		</dict>
		<key>36.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,352},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>37.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,601},{24,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,30}}</string>
			<key>sourceSize</key>
			<string>{24,30}</string>
		</dict>
		<key>38.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,539},{14,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,25}}</string>
			<key>sourceSize</key>
			<string>{14,25}</string>
		</dict>
		<key>39.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,415},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>4.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,477},{19,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,25}}</string>
			<key>sourceSize</key>
			<string>{19,25}</string>
		</dict>
		<key>40.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,935},{29,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,30}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>41.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,415},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>42.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,508},{19,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,25}}</string>
			<key>sourceSize</key>
			<string>{19,25}</string>
		</dict>
		<key>43.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,965},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>44.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,815},{29,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,30}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>45.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,160},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>46.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,755},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>47.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,663},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>48.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,508},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>49.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,192},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>5.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,128},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>50.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,785},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>51.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,815},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>52.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,224},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>53.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,256},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>54.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,996},{13,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,16}}</string>
			<key>sourceSize</key>
			<string>{13,16}</string>
		</dict>
		<key>55.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,96},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>56.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,570},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>57.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,539},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>58.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,570},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>59.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,601},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>6.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,352},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>60.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,160},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>61.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,539},{28,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,13}}</string>
			<key>sourceSize</key>
			<string>{28,13}</string>
		</dict>
		<key>62.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,632},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>63.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,845},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>64.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,875},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>65.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,601},{24,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,30}}</string>
			<key>sourceSize</key>
			<string>{24,30}</string>
		</dict>
		<key>66.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,996},{17,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,26}}</string>
			<key>sourceSize</key>
			<string>{17,26}</string>
		</dict>
		<key>67.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,755},{29,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,29}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>68.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,415},{12,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,25}}</string>
			<key>sourceSize</key>
			<string>{12,25}</string>
		</dict>
		<key>69.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,663},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>7.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,996},{27,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,29}}</string>
			<key>sourceSize</key>
			<string>{27,29}</string>
		</dict>
		<key>70.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,694},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>71.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,905},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>72.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,935},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>73.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,288},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>74.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,632},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>75.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,725},{29,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,29}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>76.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,320},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>77.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,415},{12,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,25}}</string>
			<key>sourceSize</key>
			<string>{12,25}</string>
		</dict>
		<key>78.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,663},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>79.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,694},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>8.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,539},{14,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,25}}</string>
			<key>sourceSize</key>
			<string>{14,25}</string>
		</dict>
		<key>80.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,905},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>81.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,935},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>82.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,352},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>83.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,785},{29,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,30}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>84.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,539},{28,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,13}}</string>
			<key>sourceSize</key>
			<string>{28,13}</string>
		</dict>
		<key>9.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,446},{19,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,25}}</string>
			<key>sourceSize</key>
			<string>{19,25}</string>
		</dict>
		<key>story_chat.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{63,1023}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,1023}}</string>
			<key>sourceSize</key>
			<string>{64,1024}</string>
		</dict>
		<key>story_chat_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,415},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>story_chat_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,508},{19,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,25}}</string>
			<key>sourceSize</key>
			<string>{19,25}</string>
		</dict>
		<key>story_chat_shen.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,477},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>story_chat.png</string>
		<key>size</key>
		<string>{128,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>story_chat.png</string>
	</dict>
</dict>
</plist>
