<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>12_DownAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,210},{168,197}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{168,197}}</string>
			<key>sourceSize</key>
			<string>{168,205}</string>
		</dict>
		<key>12_DownAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,0},{168,197}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{168,197}}</string>
			<key>sourceSize</key>
			<string>{168,205}</string>
		</dict>
		<key>12_DownAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,419},{168,204}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{168,204}}</string>
			<key>sourceSize</key>
			<string>{168,205}</string>
		</dict>
		<key>12_DownAttack_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,0},{168,197}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{168,197}}</string>
			<key>sourceSize</key>
			<string>{168,205}</string>
		</dict>
		<key>12_DownAttack_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,0},{168,197}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{168,197}}</string>
			<key>sourceSize</key>
			<string>{168,205}</string>
		</dict>
		<key>12_DownAttack_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,210},{168,204}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{168,204}}</string>
			<key>sourceSize</key>
			<string>{168,205}</string>
		</dict>
		<key>12_DownWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,210},{168,201}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{168,201}}</string>
			<key>sourceSize</key>
			<string>{168,209}</string>
		</dict>
		<key>12_DownWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,210},{168,202}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{168,202}}</string>
			<key>sourceSize</key>
			<string>{168,209}</string>
		</dict>
		<key>12_DownWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{168,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,209}}</string>
			<key>sourceSize</key>
			<string>{168,209}</string>
		</dict>
		<key>12_LeftAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,0},{150,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,188}}</string>
			<key>sourceSize</key>
			<string>{151,188}</string>
		</dict>
		<key>12_LeftAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,0},{150,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{150,187}}</string>
			<key>sourceSize</key>
			<string>{151,188}</string>
		</dict>
		<key>12_LeftAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,408},{150,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{150,187}}</string>
			<key>sourceSize</key>
			<string>{151,188}</string>
		</dict>
		<key>12_LeftAttack_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,559},{150,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{150,187}}</string>
			<key>sourceSize</key>
			<string>{151,188}</string>
		</dict>
		<key>12_LeftAttack_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,747},{150,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{150,187}}</string>
			<key>sourceSize</key>
			<string>{151,188}</string>
		</dict>
		<key>12_LeftAttack_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,419},{150,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{150,187}}</string>
			<key>sourceSize</key>
			<string>{151,188}</string>
		</dict>
		<key>12_LeftWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,0},{150,188}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{150,188}}</string>
			<key>sourceSize</key>
			<string>{150,208}</string>
		</dict>
		<key>12_LeftWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,210},{150,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,208}}</string>
			<key>sourceSize</key>
			<string>{150,208}</string>
		</dict>
		<key>12_LeftWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,210},{150,202}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{150,202}}</string>
			<key>sourceSize</key>
			<string>{150,208}</string>
		</dict>
		<key>16_DownAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,415},{116,143}}</string>
			<key>offset</key>
			<string>{10,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,10},{116,143}}</string>
			<key>sourceSize</key>
			<string>{135,158}</string>
		</dict>
		<key>16_DownAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,747},{110,153}}</string>
			<key>offset</key>
			<string>{12,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,0},{110,153}}</string>
			<key>sourceSize</key>
			<string>{135,158}</string>
		</dict>
		<key>16_DownAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,735},{134,152}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{134,152}}</string>
			<key>sourceSize</key>
			<string>{135,158}</string>
		</dict>
		<key>16_DownWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,624},{121,142}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,9},{121,142}}</string>
			<key>sourceSize</key>
			<string>{132,151}</string>
		</dict>
		<key>16_DownWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,864},{126,144}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,7},{126,144}}</string>
			<key>sourceSize</key>
			<string>{132,151}</string>
		</dict>
		<key>16_DownWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,888},{128,151}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,151}}</string>
			<key>sourceSize</key>
			<string>{132,151}</string>
		</dict>
		<key>16_DownWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,864},{126,144}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,7},{126,144}}</string>
			<key>sourceSize</key>
			<string>{132,151}</string>
		</dict>
		<key>16_LeftAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,864},{130,153}}</string>
			<key>offset</key>
			<string>{18,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,15},{130,153}}</string>
			<key>sourceSize</key>
			<string>{168,168}</string>
		</dict>
		<key>16_LeftAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,747},{116,168}}</string>
			<key>offset</key>
			<string>{21,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,0},{116,168}}</string>
			<key>sourceSize</key>
			<string>{168,168}</string>
		</dict>
		<key>16_LeftAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,412},{168,148}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{168,148}}</string>
			<key>sourceSize</key>
			<string>{168,168}</string>
		</dict>
		<key>16_LeftWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,413},{160,145}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{160,145}}</string>
			<key>sourceSize</key>
			<string>{160,151}</string>
		</dict>
		<key>16_LeftWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,561},{140,151}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{140,151}}</string>
			<key>sourceSize</key>
			<string>{160,151}</string>
		</dict>
		<key>16_LeftWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,607},{127,149}}</string>
			<key>offset</key>
			<string>{15,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,2},{127,149}}</string>
			<key>sourceSize</key>
			<string>{160,151}</string>
		</dict>
		<key>zombie12attackeffect1.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,561},{94,173}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,173}}</string>
			<key>sourceSize</key>
			<string>{111,173}</string>
		</dict>
		<key>zombie12attackeffect2.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,864},{102,158}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,12},{102,158}}</string>
			<key>sourceSize</key>
			<string>{111,173}</string>
		</dict>
		<key>zombie12attackeffect3.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,735},{104,151}}</string>
			<key>offset</key>
			<string>{4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,15},{104,151}}</string>
			<key>sourceSize</key>
			<string>{111,173}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zombie12.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>zombie12.png</string>
	</dict>
</dict>
</plist>
