<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>7_DownAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,581},{50,87}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,87}}</string>
			<key>sourceSize</key>
			<string>{51,87}</string>
		</dict>
		<key>7_DownAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,159},{51,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,87}}</string>
			<key>sourceSize</key>
			<string>{51,87}</string>
		</dict>
		<key>7_DownWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,159},{44,93}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{44,93}}</string>
			<key>sourceSize</key>
			<string>{47,98}</string>
		</dict>
		<key>7_DownWalk_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,407},{44,93}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{44,93}}</string>
			<key>sourceSize</key>
			<string>{47,98}</string>
		</dict>
		<key>7_DownWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,407},{44,93}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{44,93}}</string>
			<key>sourceSize</key>
			<string>{47,98}</string>
		</dict>
		<key>7_DownWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,212},{46,94}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{46,94}}</string>
			<key>sourceSize</key>
			<string>{47,98}</string>
		</dict>
		<key>7_DownWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,361},{45,96}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{45,96}}</string>
			<key>sourceSize</key>
			<string>{47,98}</string>
		</dict>
		<key>7_DownWalk_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,313},{47,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{47,97}}</string>
			<key>sourceSize</key>
			<string>{47,98}</string>
		</dict>
		<key>7_DownWalk_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,212},{47,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,98}}</string>
			<key>sourceSize</key>
			<string>{47,98}</string>
		</dict>
		<key>7_DownWalk_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,313},{47,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{47,97}}</string>
			<key>sourceSize</key>
			<string>{47,98}</string>
		</dict>
		<key>7_DownWalk_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,361},{45,96}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{45,96}}</string>
			<key>sourceSize</key>
			<string>{47,98}</string>
		</dict>
		<key>7_DownWalk_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,212},{46,94}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{46,94}}</string>
			<key>sourceSize</key>
			<string>{47,98}</string>
		</dict>
		<key>7_LeftAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,519},{61,89}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{61,89}}</string>
			<key>sourceSize</key>
			<string>{66,89}</string>
		</dict>
		<key>7_LeftAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,452},{66,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,89}}</string>
			<key>sourceSize</key>
			<string>{66,89}</string>
		</dict>
		<key>7_LeftWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,260},{52,96}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{52,96}}</string>
			<key>sourceSize</key>
			<string>{52,100}</string>
		</dict>
		<key>7_LeftWalk_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,260},{52,97}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{52,97}}</string>
			<key>sourceSize</key>
			<string>{52,100}</string>
		</dict>
		<key>7_LeftWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,260},{52,97}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{52,97}}</string>
			<key>sourceSize</key>
			<string>{52,100}</string>
		</dict>
		<key>7_LeftWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,106},{52,98}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,98}}</string>
			<key>sourceSize</key>
			<string>{52,100}</string>
		</dict>
		<key>7_LeftWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,159},{52,98}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,98}}</string>
			<key>sourceSize</key>
			<string>{52,100}</string>
		</dict>
		<key>7_LeftWalk_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,53},{52,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{52,99}}</string>
			<key>sourceSize</key>
			<string>{52,100}</string>
		</dict>
		<key>7_LeftWalk_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,0},{52,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,100}}</string>
			<key>sourceSize</key>
			<string>{52,100}</string>
		</dict>
		<key>7_LeftWalk_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,53},{52,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{52,99}}</string>
			<key>sourceSize</key>
			<string>{52,100}</string>
		</dict>
		<key>7_LeftWalk_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,159},{52,98}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,98}}</string>
			<key>sourceSize</key>
			<string>{52,100}</string>
		</dict>
		<key>7_LeftWalk_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,106},{52,98}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,98}}</string>
			<key>sourceSize</key>
			<string>{52,100}</string>
		</dict>
		<key>callanimation1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,681},{40,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,129}}</string>
			<key>sourceSize</key>
			<string>{40,131}</string>
		</dict>
		<key>callanimation2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,66},{85,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,145}}</string>
			<key>sourceSize</key>
			<string>{85,145}</string>
		</dict>
		<key>callanimation3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,404},{90,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,141}}</string>
			<key>sourceSize</key>
			<string>{90,141}</string>
		</dict>
		<key>callanimation4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,495},{90,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,141}}</string>
			<key>sourceSize</key>
			<string>{90,141}</string>
		</dict>
		<key>callanimation5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,313},{90,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,142}}</string>
			<key>sourceSize</key>
			<string>{90,142}</string>
		</dict>
		<key>callanimation6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,586},{74,140}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{74,140}}</string>
			<key>sourceSize</key>
			<string>{75,140}</string>
		</dict>
		<key>callanimation7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{65,146}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{65,146}}</string>
			<key>sourceSize</key>
			<string>{70,147}</string>
		</dict>
		<key>callanimation8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,661},{19,138}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{19,138}}</string>
			<key>sourceSize</key>
			<string>{25,138}</string>
		</dict>
		<key>callanimation9.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,0},{7,111}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{7,111}}</string>
			<key>sourceSize</key>
			<string>{8,114}</string>
		</dict>
		<key>zombie7effect1.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,427},{13,17}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{13,17}}</string>
			<key>sourceSize</key>
			<string>{20,25}</string>
		</dict>
		<key>zombie7effect2.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,407},{14,19}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{14,19}}</string>
			<key>sourceSize</key>
			<string>{20,25}</string>
		</dict>
		<key>zombie7effect3.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,452},{16,21}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{16,21}}</string>
			<key>sourceSize</key>
			<string>{20,25}</string>
		</dict>
		<key>zombie7effect4.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,474},{15,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{15,19}}</string>
			<key>sourceSize</key>
			<string>{20,25}</string>
		</dict>
		<key>zombie7effect5.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,495},{18,23}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{18,23}}</string>
			<key>sourceSize</key>
			<string>{20,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zombie7.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>zombie7.png</string>
	</dict>
</dict>
</plist>
