<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>14_DownAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,913},{92,143}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,5},{92,143}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>14_DownAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,545},{127,141}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{127,141}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>14_DownAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,0},{101,139}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,9},{101,139}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>14_DownAttack_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,224},{83,139}}</string>
			<key>offset</key>
			<string>{5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,9},{83,139}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>14_DownWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,683},{87,136}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{87,136}}</string>
			<key>sourceSize</key>
			<string>{110,150}</string>
		</dict>
		<key>14_DownWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,545},{98,137}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,11},{98,137}}</string>
			<key>sourceSize</key>
			<string>{110,150}</string>
		</dict>
		<key>14_DownWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,683},{96,137}}</string>
			<key>offset</key>
			<string>{4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{96,137}}</string>
			<key>sourceSize</key>
			<string>{110,150}</string>
		</dict>
		<key>14_DownWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,224},{109,138}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{109,138}}</string>
			<key>sourceSize</key>
			<string>{110,150}</string>
		</dict>
		<key>14_LeftAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,450},{92,140}}</string>
			<key>offset</key>
			<string>{-10,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,37},{92,140}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>14_LeftAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,145},{77,147}}</string>
			<key>offset</key>
			<string>{-14,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,30},{77,147}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>14_LeftAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,145},{78,141}}</string>
			<key>offset</key>
			<string>{-14,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,36},{78,141}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>14_LeftAttack_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,141},{68,141}}</string>
			<key>offset</key>
			<string>{-9,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,36},{68,141}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>14_LeftWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,683},{79,137}}</string>
			<key>offset</key>
			<string>{-14,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,40},{79,137}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>14_LeftWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,821},{87,142}}</string>
			<key>offset</key>
			<string>{-8,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,35},{87,142}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>14_LeftWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,545},{79,137}}</string>
			<key>offset</key>
			<string>{-15,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,40},{79,137}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>14_LeftWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,821},{81,134}}</string>
			<key>offset</key>
			<string>{-11,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,43},{81,134}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>14_death_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,821},{93,91}}</string>
			<key>offset</key>
			<string>{-2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,5},{93,91}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>14_death_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,363},{107,86}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{107,86}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>14_death_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,140},{110,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{110,83}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>14_death_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,450},{103,94}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{103,94}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>14_death_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,450},{80,85}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,14},{80,85}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>14_death_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,450},{80,85}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,14},{80,85}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>9_DownWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,0},{228,143}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{228,143}}</string>
			<key>sourceSize</key>
			<string>{240,150}</string>
		</dict>
		<key>9_DownWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,0},{227,139}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{227,139}}</string>
			<key>sourceSize</key>
			<string>{240,150}</string>
		</dict>
		<key>9_DownWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{228,144}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{228,144}}</string>
			<key>sourceSize</key>
			<string>{240,150}</string>
		</dict>
		<key>9_DownWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,0},{226,140}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{226,140}}</string>
			<key>sourceSize</key>
			<string>{240,150}</string>
		</dict>
		<key>9_LeftWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,363},{118,173}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,4},{118,173}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>9_LeftWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,363},{117,170}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,7},{117,170}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>9_LeftWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,363},{119,173}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,4},{119,173}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>9_LeftWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,683},{116,169}}</string>
			<key>offset</key>
			<string>{7,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,8},{116,169}}</string>
			<key>sourceSize</key>
			<string>{130,180}</string>
		</dict>
		<key>9_attack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,545},{9,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{9,60}}</string>
			<key>sourceSize</key>
			<string>{11,63}</string>
		</dict>
		<key>9_attack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,402},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,6},{26,28}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>9_attack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,363},{38,39}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,39}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zombie9.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>zombie9.png</string>
	</dict>
</dict>
</plist>
