<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>6_DownAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,699},{51,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,96}}</string>
			<key>sourceSize</key>
			<string>{51,96}</string>
		</dict>
		<key>6_DownAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,796},{51,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,96}}</string>
			<key>sourceSize</key>
			<string>{51,96}</string>
		</dict>
		<key>6_DownWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,699},{45,106}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{45,106}}</string>
			<key>sourceSize</key>
			<string>{47,107}</string>
		</dict>
		<key>6_DownWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,893},{46,107}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{46,107}}</string>
			<key>sourceSize</key>
			<string>{47,107}</string>
		</dict>
		<key>6_DownWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,592},{45,106}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{45,106}}</string>
			<key>sourceSize</key>
			<string>{47,107}</string>
		</dict>
		<key>6_DownWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,893},{45,107}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,107}}</string>
			<key>sourceSize</key>
			<string>{47,107}</string>
		</dict>
		<key>6_LeftAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,281},{61,98}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{61,98}}</string>
			<key>sourceSize</key>
			<string>{68,98}</string>
		</dict>
		<key>6_LeftAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,182},{68,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,98}}</string>
			<key>sourceSize</key>
			<string>{68,98}</string>
		</dict>
		<key>6_LeftWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,380},{60,105}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{60,105}}</string>
			<key>sourceSize</key>
			<string>{61,106}</string>
		</dict>
		<key>6_LeftWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,592},{58,106}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{58,106}}</string>
			<key>sourceSize</key>
			<string>{61,106}</string>
		</dict>
		<key>6_LeftWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,486},{60,105}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{60,105}}</string>
			<key>sourceSize</key>
			<string>{61,106}</string>
		</dict>
		<key>6_LeftWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,0},{61,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,106}}</string>
			<key>sourceSize</key>
			<string>{61,106}</string>
		</dict>
		<key>cureanimation1.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,592},{99,99}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,52},{99,99}}</string>
			<key>sourceSize</key>
			<string>{233,205}</string>
		</dict>
		<key>cureanimation2.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,186},{202,192}}</string>
			<key>offset</key>
			<string>{2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,11},{202,192}}</string>
			<key>sourceSize</key>
			<string>{233,205}</string>
		</dict>
		<key>cureanimation3.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,0},{213,185}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{213,185}}</string>
			<key>sourceSize</key>
			<string>{233,205}</string>
		</dict>
		<key>cureanimation4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{218,181}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,11},{218,181}}</string>
			<key>sourceSize</key>
			<string>{233,205}</string>
		</dict>
		<key>cureanimation5.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,379},{201,173}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,16},{201,173}}</string>
			<key>sourceSize</key>
			<string>{233,205}</string>
		</dict>
		<key>cureanimation6.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,796},{166,166}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,19},{166,166}}</string>
			<key>sourceSize</key>
			<string>{233,205}</string>
		</dict>
		<key>cureanimation7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,699},{154,146}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,29},{154,146}}</string>
			<key>sourceSize</key>
			<string>{233,205}</string>
		</dict>
		<key>cureanimation8.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,107},{50,45}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,78},{50,45}}</string>
			<key>sourceSize</key>
			<string>{233,205}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zombie6.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>zombie6.png</string>
	</dict>
</dict>
</plist>
