<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>8_DownAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,398},{96,132}}</string>
			<key>offset</key>
			<string>{-15,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{96,132}}</string>
			<key>sourceSize</key>
			<string>{127,148}</string>
		</dict>
		<key>8_DownAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,531},{127,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,148}}</string>
			<key>sourceSize</key>
			<string>{127,148}</string>
		</dict>
		<key>8_DownAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,266},{95,130}}</string>
			<key>offset</key>
			<string>{-15,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,18},{95,130}}</string>
			<key>sourceSize</key>
			<string>{127,148}</string>
		</dict>
		<key>8_DownWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,663},{96,132}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{96,132}}</string>
			<key>sourceSize</key>
			<string>{102,134}</string>
		</dict>
		<key>8_DownWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,659},{102,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,134}}</string>
			<key>sourceSize</key>
			<string>{102,134}</string>
		</dict>
		<key>8_DownWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,857},{93,132}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{93,132}}</string>
			<key>sourceSize</key>
			<string>{102,134}</string>
		</dict>
		<key>8_DownWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,762},{94,133}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{94,133}}</string>
			<key>sourceSize</key>
			<string>{102,134}</string>
		</dict>
		<key>8_LeftAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,134},{74,131}}</string>
			<key>offset</key>
			<string>{-6,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,39},{74,131}}</string>
			<key>sourceSize</key>
			<string>{86,170}</string>
		</dict>
		<key>8_LeftAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{73,170}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,170}}</string>
			<key>sourceSize</key>
			<string>{86,170}</string>
		</dict>
		<key>8_LeftAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,134},{86,129}}</string>
			<key>offset</key>
			<string>{0,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,41},{86,129}}</string>
			<key>sourceSize</key>
			<string>{86,170}</string>
		</dict>
		<key>8_LeftWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,266},{74,131}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,131}}</string>
			<key>sourceSize</key>
			<string>{75,133}</string>
		</dict>
		<key>8_LeftWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,0},{75,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,133}}</string>
			<key>sourceSize</key>
			<string>{75,133}</string>
		</dict>
		<key>8_LeftWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,531},{73,131}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{73,131}}</string>
			<key>sourceSize</key>
			<string>{75,133}</string>
		</dict>
		<key>8_LeftWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,398},{73,132}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{73,132}}</string>
			<key>sourceSize</key>
			<string>{75,133}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zombie8.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>zombie8.png</string>
	</dict>
</dict>
</plist>
