<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>11_DownAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,187},{92,195}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,5},{92,195}}</string>
			<key>sourceSize</key>
			<string>{130,200}</string>
		</dict>
		<key>11_DownAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{92,197}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,3},{92,197}}</string>
			<key>sourceSize</key>
			<string>{130,200}</string>
		</dict>
		<key>11_DownAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,280},{92,195}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,5},{92,195}}</string>
			<key>sourceSize</key>
			<string>{130,200}</string>
		</dict>
		<key>11_DownWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,280},{92,195}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,5},{92,195}}</string>
			<key>sourceSize</key>
			<string>{130,200}</string>
		</dict>
		<key>11_DownWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,0},{93,196}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,4},{93,196}}</string>
			<key>sourceSize</key>
			<string>{130,200}</string>
		</dict>
		<key>11_DownWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,280},{92,195}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,5},{92,195}}</string>
			<key>sourceSize</key>
			<string>{130,200}</string>
		</dict>
		<key>11_DownWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,93},{93,196}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,4},{93,196}}</string>
			<key>sourceSize</key>
			<string>{130,200}</string>
		</dict>
		<key>11_LeftAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,457},{107,180}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,7},{107,180}}</string>
			<key>sourceSize</key>
			<string>{120,190}</string>
		</dict>
		<key>11_LeftAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,819},{105,181}}</string>
			<key>offset</key>
			<string>{7,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,6},{105,181}}</string>
			<key>sourceSize</key>
			<string>{120,190}</string>
		</dict>
		<key>11_LeftAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,457},{107,180}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,7},{107,180}}</string>
			<key>sourceSize</key>
			<string>{120,190}</string>
		</dict>
		<key>11_LeftWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,457},{107,180}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,7},{107,180}}</string>
			<key>sourceSize</key>
			<string>{120,190}</string>
		</dict>
		<key>11_LeftWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,93},{107,181}}</string>
			<key>offset</key>
			<string>{6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,6},{107,181}}</string>
			<key>sourceSize</key>
			<string>{120,190}</string>
		</dict>
		<key>11_LeftWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,638},{107,180}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,7},{107,180}}</string>
			<key>sourceSize</key>
			<string>{120,190}</string>
		</dict>
		<key>11_LeftWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,275},{107,181}}</string>
			<key>offset</key>
			<string>{6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,6},{107,181}}</string>
			<key>sourceSize</key>
			<string>{120,190}</string>
		</dict>
		<key>15_DownAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,819},{129,172}}</string>
			<key>offset</key>
			<string>{-9,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,28},{129,172}}</string>
			<key>sourceSize</key>
			<string>{170,200}</string>
		</dict>
		<key>15_DownAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,280},{91,172}}</string>
			<key>offset</key>
			<string>{10,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,28},{91,172}}</string>
			<key>sourceSize</key>
			<string>{170,200}</string>
		</dict>
		<key>15_DownAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,187},{92,171}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{92,171}}</string>
			<key>sourceSize</key>
			<string>{95,179}</string>
		</dict>
		<key>15_DownWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,638},{97,172}}</string>
			<key>offset</key>
			<string>{7,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,28},{97,172}}</string>
			<key>sourceSize</key>
			<string>{170,200}</string>
		</dict>
		<key>15_DownWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,638},{93,172}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{93,172}}</string>
			<key>sourceSize</key>
			<string>{95,179}</string>
		</dict>
		<key>15_DownWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,187},{92,171}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{92,171}}</string>
			<key>sourceSize</key>
			<string>{95,179}</string>
		</dict>
		<key>15_DownWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,457},{93,172}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{93,172}}</string>
			<key>sourceSize</key>
			<string>{95,179}</string>
		</dict>
		<key>15_LeftAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,373},{81,168}}</string>
			<key>offset</key>
			<string>{34,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,8},{81,168}}</string>
			<key>sourceSize</key>
			<string>{150,179}</string>
		</dict>
		<key>15_LeftAttack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,450},{118,168}}</string>
			<key>offset</key>
			<string>{16,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,8},{118,168}}</string>
			<key>sourceSize</key>
			<string>{150,179}</string>
		</dict>
		<key>15_LeftAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,457},{78,168}}</string>
			<key>offset</key>
			<string>{36,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{72,8},{78,168}}</string>
			<key>sourceSize</key>
			<string>{150,179}</string>
		</dict>
		<key>15_LeftWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,457},{78,168}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,8},{78,168}}</string>
			<key>sourceSize</key>
			<string>{86,179}</string>
		</dict>
		<key>15_LeftWalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,280},{78,169}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{78,169}}</string>
			<key>sourceSize</key>
			<string>{86,179}</string>
		</dict>
		<key>15_LeftWalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,536},{78,168}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,8},{78,168}}</string>
			<key>sourceSize</key>
			<string>{86,179}</string>
		</dict>
		<key>15_LeftWalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,638},{78,169}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{78,169}}</string>
			<key>sourceSize</key>
			<string>{86,179}</string>
		</dict>
		<key>zombie15bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,1001},{13,46}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{13,46}}</string>
			<key>sourceSize</key>
			<string>{24,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zombie11.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>zombie11.png</string>
	</dict>
</dict>
</plist>
