<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>13_DownAttack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,435},{210,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{210,174}}</string>
			<key>sourceSize</key>
			<string>{221,174}</string>
		</dict>
		<key>13_LeftAttack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,856},{184,153}}</string>
			<key>offset</key>
			<string>{3,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,35},{184,153}}</string>
			<key>sourceSize</key>
			<string>{202,188}</string>
		</dict>
		<key>13_LeftWalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,646},{176,185}}</string>
			<key>offset</key>
			<string>{-2,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,35},{176,185}}</string>
			<key>sourceSize</key>
			<string>{187,220}</string>
		</dict>
		<key>13downcure1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,218},{216,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{216,178}}</string>
			<key>sourceSize</key>
			<string>{226,178}</string>
		</dict>
		<key>13leftmove1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,646},{186,209}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{186,209}}</string>
			<key>sourceSize</key>
			<string>{187,217}</string>
		</dict>
		<key>13leftmove4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{181,217}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{181,217}}</string>
			<key>sourceSize</key>
			<string>{187,217}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zombie13_2.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>zombie13_2.png</string>
	</dict>
</dict>
</plist>
